/* START MAIN */
main {
  padding-top: var(--padding-top-100);
}
main section {
  text-align: center;
  padding: 50px 0;
}
main section h2 {
  color: var(--light-clr);
  font-size: 40px;
  margin-bottom: 100px;
}
@media (max-width: 585px) {
  main section h2 {
    font-size: 30px;
  }
}
/* START SENDING EMAIL SECTION */
main .sending-email form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}
@media (max-width: 585px) {
  main .sending-email form {
    width: 70%;
  }
}
main .sending-email form div {
  position: relative;
  margin-bottom: 30px;
}
main .sending-email form div label {
  position: absolute;
  cursor: text;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--light-clr);
  transition: var(--transition-3);
  font-size: 16px;
}
main .sending-email form div input,
main .sending-email form div textarea {
  border: none;
  border-bottom: 2px solid var(--main-clr);
  outline: none;
  padding: 10px;
  background-color: transparent;
  width: 100%;
  color: var(--light-clr);
  font-size: 18px;
}
main .sending-email form div.msg label {
  top: 20px;
}
main .sending-email form div.msg i {
  top: 20px;
}
main .sending-email form div textarea {
  max-width: 100%;
  padding-bottom: 100px;
  font-family: "Roboto", sans-serif;
}
main .sending-email form div i {
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--dark-clr);
  filter: drop-shadow(0 0 10px var(--main-clr));
}
main .sending-email form div input:focus + label,
main .sending-email form div input:valid + label {
  top: -10px;
  font-size: 12px;
}
main .sending-email form button {
  width: fit-content;
  border: none;
  outline: none;
  background-color: var(--main-clr);
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  color: var(--light-clr);
  transition: var(--transition-3);
  border-radius: 5px;
}
main .sending-email form button:hover {
  opacity: 0.7;
}
/* END SENDING EMAIL SECTION */

/* START CONTACT INFORMATION SECTION */
main .contact-info {
  background-color: #6b7b8c;
}
main .contact-info .phone-number {
  position: relative;
  color: var(--dark-clr);
}
main .contact-info .phone-number i {
  color: var(--dark-clr);
  margin-right: 10px;
}
main .contact-info .phone-number label {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}
main .contact-info .phone-number a {
  display: inline-block; /* To set the margin-top */
  margin-top: 10px;
  color: var(--dark-clr);
  font-weight: 700;
  font-size: 18px;
}
main .contact-info iframe {
  margin: 40px 0;
  width: 100%;
  height: 250px;
  border-top: 3px solid var(--main-clr);
  border-bottom: 3px solid var(--main-clr);
}
/* END CONTACT INFORMATION SECTION */

/* END MAIN */
